{
  "openapi": "3.0.0",
  "info": {
    "title": "Straico - API",
    "version": "1.0.0",
    "description": "The **Straico API** utilizes **API keys** for authentication. Please visit [API Key page](https://platform.straico.com/user-settings) in My profile section to obtain the **API key** required for your requests.\n\nRemember, it is essential to keep your API key confidential. Avoid sharing it with others or embedding it in any client-side code like browsers or apps. For secure handling, all production requests should be directed through your backend server, where the API key can be securely fetched from an environment variable or key management service.\n\nEvery API request must include your API key in an Authorization HTTP header in the following manner:\n\n``` bash\nAuthorization: Bearer $STRAICO_API_KEY\n\n ```"
  },
  "servers": [
    {
      "url": "https://api.straico.com"
    }
  ],
  "paths": {
    "/v0/user": {
      "get": {
        "summary": "User information",
        "responses": {
          "200": {
            "description": "User information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string"
                        },
                        "last_name": {
                          "type": "string"
                        },
                        "coins": {
                          "type": "number"
                        },
                        "plan": {
                          "type": "string"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "data": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "coins": 562621.19,
                    "plan": "Ultimate Pack"
                  },
                  "success": true
                }
              }
            }
          }
        },
        "tags": [
          "User"
        ],
        "description": "## Overview\n\nThis endpoint allows users to fetch details of a specific user from the Straico platform. Users can access information such as the user's first name, last name, the number of coins associated with the account, and the plan they are subscribed to.\n\n## Authentication\n\nAll requests must include an `Authorization` header with a valid API key.\n\n## Request Headers\n\n- Authorization: `Bearer $STRAICO_API_KEY`\n    \n\n## Request Body\n\nThis endpoint does not require any parameters.\n\n## Response\n\nThe API responds with a JSON object containing the user's data under the \"data\" key.\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `first_name` | string | The user's first name |\n| `last_name` | string | The user's last name |\n| `coins` | number | The number of coins associated with the account |\n| `plan` | string | The current subscription plan of the user |"
      }
    },
    "/v0/models": {
      "get": {
        "summary": "Models information (v.0)",
        "responses": {
          "200": {
            "description": "Models information (v.0)",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 10 Oct 2024 00:26:31 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.52 (Ubuntu)"
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "same-origin"
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "same-origin"
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string"
                },
                "example": "?1"
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "no-referrer"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=15552000; includeSubDomains"
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "off"
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "integer"
                },
                "example": "0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "4387"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"1123-UNnr/8I1b8csFituBcYcaoYPj3g\""
              },
              "Via": {
                "schema": {
                  "type": "string"
                },
                "example": "1.1 api.straico.com (Apache/2.4.52)"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "format": "style"
                          },
                          "model": {
                            "type": "string"
                          },
                          "pricing": {
                            "type": "object",
                            "properties": {
                              "coins": {
                                "type": "integer"
                              },
                              "words": {
                                "type": "integer"
                              }
                            }
                          },
                          "max_output": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "Anthropic: Claude 3 Haiku",
                      "model": "anthropic/claude-3-haiku:beta",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "Anthropic: Claude 3 Opus",
                      "model": "anthropic/claude-3-opus",
                      "pricing": {
                        "coins": 24,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "Anthropic: Claude 3 Sonnet",
                      "model": "anthropic/claude-3-sonnet",
                      "pricing": {
                        "coins": 5,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "Anthropic: Claude 3.5 Sonnet",
                      "model": "anthropic/claude-3.5-sonnet",
                      "pricing": {
                        "coins": 5,
                        "words": 100
                      },
                      "max_output": 8192
                    },
                    {
                      "name": "Cohere: Command R (08-2024)",
                      "model": "cohere/command-r-08-2024",
                      "pricing": {
                        "coins": 0.2,
                        "words": 100
                      },
                      "max_output": 4000
                    },
                    {
                      "name": "Cohere: Command R+ (08-2024)",
                      "model": "cohere/command-r-plus-08-2024",
                      "pricing": {
                        "coins": 3.4,
                        "words": 100
                      },
                      "max_output": 4000
                    },
                    {
                      "name": "Dolphin 2.6 Mixtral 8x7B",
                      "model": "cognitivecomputations/dolphin-mixtral-8x7b",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Goliath 120B",
                      "model": "alpindale/goliath-120b",
                      "pricing": {
                        "coins": 5,
                        "words": 100
                      },
                      "max_output": 400
                    },
                    {
                      "name": "Google: Gemini Pro 1.5",
                      "model": "google/gemini-pro-1.5",
                      "pricing": {
                        "coins": 3.7,
                        "words": 100
                      },
                      "max_output": 8192
                    },
                    {
                      "name": "Google: Gemma 2 27B",
                      "model": "google/gemma-2-27b-it",
                      "pricing": {
                        "coins": 0.4,
                        "words": 100
                      },
                      "max_output": 8192
                    },
                    {
                      "name": "Gryphe: MythoMax L2 13B 8k",
                      "model": "gryphe/mythomax-l2-13b",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "Meta: Llama 3 70B Instruct (nitro)",
                      "model": "meta-llama/llama-3-70b-instruct:nitro",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 8192
                    },
                    {
                      "name": "Meta: Llama 3 8B Instruct",
                      "model": "meta-llama/llama-3-8b-instruct",
                      "pricing": {
                        "coins": 0.5,
                        "words": 100
                      },
                      "max_output": 8192
                    },
                    {
                      "name": "Meta: Llama 3.1 405B Instruct",
                      "model": "meta-llama/llama-3.1-405b-instruct",
                      "pricing": {
                        "coins": 1.6,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Meta: Llama 3.1 70B Instruct",
                      "model": "meta-llama/llama-3.1-70b-instruct",
                      "pricing": {
                        "coins": 0.7,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Mistral: Codestral Mamba",
                      "model": "mistralai/codestral-mamba",
                      "pricing": {
                        "coins": 0.2,
                        "words": 100
                      },
                      "max_output": 256000
                    },
                    {
                      "name": "Mistral: Large",
                      "model": "mistralai/mistral-large",
                      "pricing": {
                        "coins": 3,
                        "words": 100
                      },
                      "max_output": 128000
                    },
                    {
                      "name": "Mistral: Mixtral 8x7B",
                      "model": "mistralai/mixtral-8x7b-instruct",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Nous: Hermes 3 405B Instruct",
                      "model": "nousresearch/hermes-3-llama-3.1-405b",
                      "pricing": {
                        "coins": 0.3,
                        "words": 100
                      },
                      "max_output": 18000
                    },
                    {
                      "name": "OpenAI: GPT-3.5 Turbo 16k",
                      "model": "openai/gpt-3.5-turbo-0125",
                      "pricing": {
                        "coins": 1,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "OpenAI: GPT-4",
                      "model": "openai/gpt-4",
                      "pricing": {
                        "coins": 20,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "OpenAI: GPT-4 Turbo 128k",
                      "model": "openai/gpt-4-turbo-2024-04-09",
                      "pricing": {
                        "coins": 8,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "OpenAI: GPT-4 Vision",
                      "model": "openai/gpt-4-vision-preview",
                      "pricing": {
                        "coins": 10,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "OpenAI: GPT-4o - New (Aug-06)",
                      "model": "openai/gpt-4o-2024-08-06",
                      "pricing": {
                        "coins": 3,
                        "words": 100
                      },
                      "max_output": 16384
                    },
                    {
                      "name": "OpenAI: GPT-4o - Old",
                      "model": "openai/gpt-4o",
                      "pricing": {
                        "coins": 4,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "OpenAI: GPT-4o mini",
                      "model": "openai/gpt-4o-mini",
                      "pricing": {
                        "coins": 0.4,
                        "words": 100
                      },
                      "max_output": 16384
                    },
                    {
                      "name": "OpenAI: o1-mini (Beta)",
                      "model": "openai/o1-mini",
                      "pricing": {
                        "coins": 4,
                        "words": 100
                      },
                      "max_output": 65536
                    },
                    {
                      "name": "OpenAI: o1-preview (Beta)",
                      "model": "openai/o1-preview",
                      "pricing": {
                        "coins": 20,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Perplexity: Llama 3.1 Sonar 405B Online",
                      "model": "perplexity/llama-3.1-sonar-huge-128k-online",
                      "pricing": {
                        "coins": 2.7,
                        "words": 100
                      },
                      "max_output": 127072
                    },
                    {
                      "name": "Perplexity: Llama 3.1 Sonar 70B Online",
                      "model": "perplexity/llama-3.1-sonar-large-128k-online",
                      "pricing": {
                        "coins": 0.6,
                        "words": 100
                      },
                      "max_output": 127072
                    },
                    {
                      "name": "Perplexity: Llama 3.1 Sonar 8B Online",
                      "model": "perplexity/llama-3.1-sonar-small-128k-online",
                      "pricing": {
                        "coins": 0.2,
                        "words": 100
                      },
                      "max_output": 127072
                    },
                    {
                      "name": "Qwen 2 72B Instruct",
                      "model": "qwen/qwen-2-72b-instruct",
                      "pricing": {
                        "coins": 0.5,
                        "words": 100
                      },
                      "max_output": 32768
                    },
                    {
                      "name": "Qwen2-VL 72B Instruct",
                      "model": "qwen/qwen-2-vl-72b-instruct",
                      "pricing": {
                        "coins": 0.2,
                        "words": 100
                      },
                      "max_output": 4096
                    },
                    {
                      "name": "Qwen2.5 72B Instruct",
                      "model": "qwen/qwen-2.5-72b-instruct",
                      "pricing": {
                        "coins": 0.2,
                        "words": 100
                      },
                      "max_output": 32768
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        },
        "tags": [
          "Model"
        ],
        "description": "## Overview\n\nThis endpoint provides users with a comprehensive list of available language models and their associated details within the Straico API ecosystem. By querying this endpoint, users can access up-to-date information about various models and their associated pricing\n\n## Authentication\n\nAll requests must include an `Authorization` header with a valid API key.\n\n## Request Headers\n\n- Authorization: `Bearer $STRAICO_API_KEY`\n    \n\n## Request Body\n\nThis endpoint does not require any parameters.\n\n## Response\n\nThe API responds with a JSON object containing an array of model objects. Each model object includes the following information:\n\n| Field | Type | Description |\n| --- | --- | --- |\n| `name` | string | Model display name |\n| `model` | string | Unique model identifier for API usage |\n| `pricing` | object | Pricing information, detailing the cost in coins per specified number of words |\n| `max_output` | number | Limit number of tokens (roughly words or word pieces) that can be generated in a single response |"
      }
    },
    "/v1/models": {
      "get": {
        "summary": "Models information (v.1)",
        "responses": {
          "200": {
            "description": "Models information (v.1)",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string"
                },
                "example": "Thu, 10 Oct 2024 00:38:02 GMT"
              },
              "Server": {
                "schema": {
                  "type": "string"
                },
                "example": "Apache/2.4.52 (Ubuntu)"
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "default-src 'self';base-uri 'self';font-src 'self' https: data:;form-action 'self';frame-ancestors 'self';img-src 'self' data:;object-src 'none';script-src 'self';script-src-attr 'none';style-src 'self' https: 'unsafe-inline';upgrade-insecure-requests"
              },
              "Cross-Origin-Opener-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "same-origin"
              },
              "Cross-Origin-Resource-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "same-origin"
              },
              "Origin-Agent-Cluster": {
                "schema": {
                  "type": "string"
                },
                "example": "?1"
              },
              "Referrer-Policy": {
                "schema": {
                  "type": "string"
                },
                "example": "no-referrer"
              },
              "Strict-Transport-Security": {
                "schema": {
                  "type": "string"
                },
                "example": "max-age=15552000; includeSubDomains"
              },
              "X-Content-Type-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "nosniff"
              },
              "X-DNS-Prefetch-Control": {
                "schema": {
                  "type": "string"
                },
                "example": "off"
              },
              "X-Download-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "noopen"
              },
              "X-Frame-Options": {
                "schema": {
                  "type": "string"
                },
                "example": "SAMEORIGIN"
              },
              "X-Permitted-Cross-Domain-Policies": {
                "schema": {
                  "type": "string"
                },
                "example": "none"
              },
              "X-XSS-Protection": {
                "schema": {
                  "type": "integer"
                },
                "example": "0"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "example": "*"
              },
              "Content-Length": {
                "schema": {
                  "type": "integer"
                },
                "example": "5249"
              },
              "ETag": {
                "schema": {
                  "type": "string"
                },
                "example": "W/\"1481-QsfQQGT+1tFOMcJnlLnThIU9Hq4\""
              },
              "Via": {
                "schema": {
                  "type": "string"
                },
                "example": "1.1 api.straico.com (Apache/2.4.52)"
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string"
                },
                "example": "timeout=5, max=100"
              },
              "Connection": {
                "schema": {
                  "type": "string"
                },
                "example": "Keep-Alive"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "chat": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "format": "style"
                              },
                              "model": {
                                "type": "string"
                              },
                              "word_limit": {
                                "type": "integer"
                              },
                              "pricing": {
                                "type": "object",
                                "properties": {
                                  "coins": {
                                    "type": "number"
                                  },
                                  "words": {
                                    "type": "integer"
                                  }
                                }
                              },
                              "max_output": {
                                "type": "integer"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "editors_link": {
                                    "type": "string"
                                  },
                                  "editors_choice_level": {
                                    "type": "integer"
                                  },
                                  "cons": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "pros": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "applications": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "capabilities": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "features": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  },
                                  "other": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "icon": {
                                    "type": "string",
                                    "format": "uri"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "image": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "pricing": {
                                  "type": "object",
                                  "properties": {
                                    "square": {
                                      "type": "object",
                                      "properties": {
                                        "coins": {
                                          "type": "integer"
                                        },
                                        "size": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "landscape": {
                                      "type": "object",
                                      "properties": {
                                        "coins": {
                                          "type": "integer"
                                        },
                                        "size": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "portrait": {
                                      "type": "object",
                                      "properties": {
                                        "coins": {
                                          "type": "integer"
                                        },
                                        "size": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                },
                                "_id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "format": "style"
                                },
                                "model": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "data": {
                    "chat": [
                      {
                        "name": "Amazon: Nova Lite 1.0",
                        "model": "amazon/nova-lite-v1",
                        "word_limit": 225000,
                        "pricing": {
                          "coins": 0.2,
                          "words": 100
                        },
                        "max_output": 5000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "May not perform strongly on deeply complex textual inference or long-chain reasoning tasks"
                          ],
                          "pros": [
                            "Very low cost and lightning-fast multimodal processing"
                          ],
                          "applications": [
                            "Tutoring",
                            "Social chat",
                            "Writing"
                          ],
                          "capabilities": [],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/nova-lite-1.0.png"
                        }
                      },
                      {
                        "name": "Amazon: Nova Micro 1.0",
                        "model": "amazon/nova-micro-v1",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 0.1,
                          "words": 100
                        },
                        "max_output": 5000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited to text-only tasks, lacks multimodal capabilities",
                            "Less advanced reasoning capabilities compared to higher-end models like Nova Pro"
                          ],
                          "pros": [
                            "Lowest latency and most cost-effective in the Amazon Nova family",
                            "Strong in tasks like summarization, translation, interactive chat, classification"
                          ],
                          "applications": [
                            "Writing",
                            "Translation",
                            "Social chat"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/nova-micro-1.0.png"
                        }
                      },
                      {
                        "name": "Amazon: Nova Pro 1.0",
                        "model": "amazon/nova-pro-v1",
                        "word_limit": 225000,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 5000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "High capability might lead to increased resource usage for basic applications"
                          ],
                          "pros": [
                            "Outstanding multimodal capabilities\n",
                            "High accuracy, speed, and cost-efficiency",
                            "Exceptional at handling large context input and long workflows"
                          ],
                          "applications": [
                            "Tutoring",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/nova-pro-1.0.png"
                        }
                      },
                      {
                        "name": "Anthropic: Claude 3 Opus",
                        "model": "anthropic/claude-3-opus",
                        "word_limit": 150000,
                        "pricing": {
                          "coins": 24,
                          "words": 100
                        },
                        "max_output": 4096,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Refuses to interact with some copywritten work"
                          ],
                          "pros": [
                            "Concise humor",
                            "Strong understanding of creativity",
                            "Outputs longer than previous generations"
                          ],
                          "applications": [
                            "Social chat",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/claude-3-opus.png"
                        }
                      },
                      {
                        "name": "Anthropic: Claude 3.5 Haiku",
                        "model": "anthropic/claude-3-5-haiku-20241022",
                        "word_limit": 150000,
                        "pricing": {
                          "coins": 1.6,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Tends to format responses in bullet points, which may not suit all use cases"
                          ],
                          "pros": [
                            "Optimized for speed, coding accuracy, and versatile tool integration",
                            "Excels in data extraction, labeling, and real-time content moderation",
                            "Delivers quick code completions and streamlined development workflows"
                          ],
                          "applications": [
                            "Social chat",
                            "Coding",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/claude-3.5-haiku.png"
                        }
                      },
                      {
                        "name": "Anthropic: Claude 3.5 Sonnet",
                        "model": "anthropic/claude-3.5-sonnet",
                        "word_limit": 150000,
                        "pricing": {
                          "coins": 4.8,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Code Hallucinations and Refactoring",
                            "Overzealous Refusals and Ignored Instructions",
                            "Difficulty with Complex Reasoning"
                          ],
                          "pros": [
                            "Creativity in Responses",
                            "Helping users understand new concepts",
                            "Engaging conversations",
                            "Coding Games",
                            "Converting units of measurement"
                          ],
                          "applications": [
                            "Writing",
                            "Social chat",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/claude-3.5-sonnet.png"
                        }
                      },
                      {
                        "name": "Anthropic: Claude 3.7 Sonnet",
                        "model": "anthropic/claude-3.7-sonnet",
                        "word_limit": 150000,
                        "pricing": {
                          "coins": 5,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Code Hallucinations and Refactoring",
                            "Overzealous Refusals and Ignored Instructions"
                          ],
                          "pros": [
                            "Good programming skills",
                            "Highly developed reasoning",
                            "Good at developing complex problems",
                            "Converting units of measurement"
                          ],
                          "applications": [
                            "Writing",
                            "Coding",
                            "Content",
                            "Reasoning"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/claude-sonet-3.7.png\n"
                        }
                      },
                      {
                        "name": "Anthropic: Claude 3.7 Sonnet Reasoning",
                        "model": "anthropic/claude-3.7-sonnet:thinking",
                        "word_limit": 150000,
                        "pricing": {
                          "coins": 5,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 3,
                          "cons": [
                            "Code Hallucinations and Refactoring",
                            "Overzealous Refusals and Ignored Instructions"
                          ],
                          "pros": [
                            "Good programming skills",
                            "Highly developed reasoning",
                            "Good at developing complex problems",
                            "Converting units of measurement"
                          ],
                          "applications": [
                            "Writing",
                            "Coding",
                            "Content",
                            "Reasoning"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/claude-sonet-3.7.png\n"
                        }
                      },
                      {
                        "name": "Cohere: Command R (08-2024)",
                        "model": "cohere/command-r-08-2024",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 0.2,
                          "words": 100
                        },
                        "max_output": 4000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Context and Instruction Sensitivity",
                            "Ethical and Bias Considerations"
                          ],
                          "pros": [
                            "Capable of generating human-like text, allowing for engaging and contextually relevant conversations",
                            "Adaptable to various user preferences, offering tailored assistance for individual needs"
                          ],
                          "applications": [
                            "Writing",
                            "Translation",
                            "Math and logic",
                            "Coding",
                            "Tutoring"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/command-r-(08-2024).png"
                        }
                      },
                      {
                        "name": "Cohere: Command R+ (08-2024)",
                        "model": "cohere/command-r-plus-08-2024",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 3.4,
                          "words": 100
                        },
                        "max_output": 4000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Potential for bias and ethical concerns, requiring human oversight",
                            "Difficulty in handling ambiguous or unclear prompts"
                          ],
                          "pros": [
                            "Ability to generate human-like text with a vast knowledge base",
                            "Efficient at handling large amounts of data for training and contextual understanding",
                            "Versatility in assisting with various tasks and domains"
                          ],
                          "applications": [
                            "Writing",
                            "Tutoring",
                            "Math and logic"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/command-r%2B-(08-2024).png"
                        }
                      },
                      {
                        "name": "DeepSeek V3",
                        "model": "deepseek/deepseek-chat",
                        "word_limit": 49152,
                        "pricing": {
                          "coins": 1.1,
                          "words": 100
                        },
                        "max_output": 8000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Its broad knowledge base can lead to oversimplifications for very niche or highly specialized topics",
                            "Neutral tone on subjective and ethical issues may feel underwhelming for users seeking bold stances"
                          ],
                          "pros": [
                            "Strong ability to give step-by-step problem breakdowns for technical and general topics",
                            "Multilingual capabilities for diverse user needs",
                            "Handles a wide range of topics, including history, tech, and literature, making it highly versatile"
                          ],
                          "applications": [
                            "Writing",
                            "Coding",
                            "Tutoring",
                            "Translation"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/deepseek-v2.5.png"
                        }
                      },
                      {
                        "name": "DeepSeek: DeepSeek R1",
                        "model": "deepseek/deepseek-r1",
                        "word_limit": 48000,
                        "pricing": {
                          "coins": 4.3,
                          "words": 100
                        },
                        "max_output": 8000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Tends to produce more extensive explanations unnecessarily",
                            "Slightly weaker in math compared to competitors"
                          ],
                          "pros": [
                            "Creative writing with personality and less censorship",
                            "Cost-effective for general-purpose coding",
                            "Strong performance in complex reasoning tasks"
                          ],
                          "applications": [
                            "Writing",
                            "Coding",
                            "Reasoning"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [
                            "Uncensored"
                          ],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/deepseek-r1.png"
                        }
                      },
                      {
                        "name": "DeepSeek: DeepSeek R1 (nitro)",
                        "model": "deepseek/deepseek-r1:nitro",
                        "word_limit": 122880,
                        "pricing": {
                          "coins": 4.3,
                          "words": 100
                        },
                        "max_output": 8000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 3,
                          "cons": [
                            "May follow prompts too literally/intensely"
                          ],
                          "pros": [
                            "Extended context for long-form engagement",
                            "Handles memory-intensive tasks well",
                            "Enhances creative writing with better continuity"
                          ],
                          "applications": [
                            "Writing",
                            "Coding",
                            "Reasoning",
                            "Roleplay"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [
                            "Uncensored"
                          ],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/deepseek-r1-nitro.png"
                        }
                      },
                      {
                        "name": "DeepSeek: DeepSeek V3 0324",
                        "model": "deepseek/deepseek-chat-v3-0324",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 8000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Its broad knowledge base can lead to oversimplifications for very niche or highly specialized topics",
                            "Neutral tone on subjective and ethical issues may feel underwhelming for users seeking bold stances"
                          ],
                          "pros": [
                            "Strong ability to give step-by-step problem breakdowns for technical and general topics",
                            "Multilingual capabilities for diverse user needs",
                            "Handles a wide range of topics, including history, tech, and literature, making it highly versatile"
                          ],
                          "applications": [
                            "Coding",
                            "Math and logic"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/deepseek-v2.5.png"
                        }
                      },
                      {
                        "name": "Dolphin 2.6 Mixtral 8x7B",
                        "model": "cognitivecomputations/dolphin-mixtral-8x7b",
                        "word_limit": 24000,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 32768,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Tutoring may lack depth in some subjects",
                            "Roleplay may lack creativity",
                            "Content generation can sometimes be generic"
                          ],
                          "pros": [
                            "Strong writing skills",
                            "Proficient in social chat",
                            "Reasonable math and logic skills"
                          ],
                          "applications": [
                            "Writing",
                            "Translation",
                            "Content"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [
                            "Uncensored"
                          ],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/dolphin-2.6-mixtral-8x7b.png"
                        }
                      },
                      {
                        "name": "EVA Qwen2.5 14B",
                        "model": "eva-unit-01/eva-qwen-2.5-14b",
                        "word_limit": 24576,
                        "pricing": {
                          "coins": 0.2,
                          "words": 100
                        },
                        "max_output": 32768,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Not ideal for coding or complex technical tasks",
                            "Struggles occasionally with handling special characters"
                          ],
                          "pros": [
                            "Excels in creative writing and role-play scenarios",
                            "Immersive narrative production with character-driven storytelling"
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Roleplay"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/eva-qwen2.5-14b.png"
                        }
                      },
                      {
                        "name": "Goliath 120B",
                        "model": "alpindale/goliath-120b",
                        "word_limit": 4608,
                        "pricing": {
                          "coins": 5,
                          "words": 100
                        },
                        "max_output": 400,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited Explainability (Black Box reasoning)",
                            "Data Privacy Concerns",
                            "Difficulty in Fine-Tuning"
                          ],
                          "pros": [
                            "High Multilingual Fluency",
                            "Advanced Contextual Understanding",
                            "Rich Knowledge Base"
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Translation"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/goliath-120b.png"
                        }
                      },
                      {
                        "name": "Google: Gemini 2.5 Flash Preview",
                        "model": "google/gemini-2.5-flash-preview",
                        "word_limit": 786432,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 66000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 1,
                          "cons": [
                            "Lack of precision when responding",
                            "Dependency on training data does not have web browsing"
                          ],
                          "pros": [
                            "Capacity to manage extensive context",
                            "Versatile writing and communication skills",
                            "Fast code generation"
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemini-flash-2.0.png"
                        }
                      },
                      {
                        "name": "Google: Gemini 2.5 Flash Preview Reasoning",
                        "model": "google/gemini-2.5-flash-preview:thinking",
                        "word_limit": 786432,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 66000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 1,
                          "cons": [
                            "Its a preview version, it might still be a bit mind-blowing."
                          ],
                          "pros": [
                            "Optimized for fast responses without compromising quality perfect for realtime applications like chatbots and virtual assistants.",
                            "Performs reasoning before generating outputs, resulting in more accurate and reliable performance on complex tasks like data extraction or code generation.",
                            "Handles massive inputs with ease, making it ideal for summarizing long documents, processing datasets, or conducting in-depth analysis."
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Coding",
                            "Reasoning"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image upscale",
                            "Image remix"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemini-flash-2.0.png"
                        }
                      },
                      {
                        "name": "Google: Gemini Flash 2.08B",
                        "model": "google/gemini-2.0-flash-001",
                        "word_limit": 750000,
                        "pricing": {
                          "coins": 0.2,
                          "words": 100
                        },
                        "max_output": 100000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 1,
                          "cons": [
                            "Lack of precision when responding",
                            "Dependency on training data does not have web browsing"
                          ],
                          "pros": [
                            "Capacity to manage extensive context",
                            "Versatile writing and communication skills",
                            "Fast code generation"
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemini-flash-2.0.png"
                        }
                      },
                      {
                        "name": "Google: Gemini Pro 1.5",
                        "model": "google/gemini-pro-1.5",
                        "word_limit": 1500000,
                        "pricing": {
                          "coins": 3.7,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Can reflect biases present in the training data",
                            "Sometimes struggles with conciseness and originality"
                          ],
                          "pros": [
                            "Can generate text, translate languages, and answer questions quickly",
                            "Accesses and processes information from a massive dataset",
                            "Capable of performing various tasks, from writing different creative text formats to translating languages, summarizing factual topics, to coding"
                          ],
                          "applications": [
                            "Writing",
                            "Translation",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemini-pro-1.5.png"
                        }
                      },
                      {
                        "name": "Google: Gemini Pro 2.5 Preview",
                        "model": "google/gemini-2.5-pro-preview-03-25",
                        "word_limit": 750000,
                        "pricing": {
                          "coins": 4.6,
                          "words": 100
                        },
                        "max_output": 100000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Could provide code with some readability issues",
                            "Might have problems by using unwanted code from previous messages"
                          ],
                          "pros": [
                            "Very good performance at STEM related tasks",
                            "Excellent reasoning capabilities",
                            "Capacity to manage extensive context"
                          ],
                          "applications": [
                            "Reasoning",
                            "Math and logic",
                            "Content"
                          ],
                          "capabilities": [
                            "Web browsing",
                            "Image generation",
                            "Image remix",
                            "Image upscale"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemini-pro-2.0-experimental.png\n"
                        }
                      },
                      {
                        "name": "Google: Gemma 2 27B",
                        "model": "google/gemma-2-27b-it",
                        "word_limit": 3072,
                        "pricing": {
                          "coins": 0.4,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Training data may contain biases"
                          ],
                          "pros": [
                            "Can process information and retrieve relevant facts quickly",
                            "Translate and understand text in different languages"
                          ],
                          "applications": [
                            "Content",
                            "Translation"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [
                            "Open source"
                          ],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gemma-2-27b.png"
                        }
                      },
                      {
                        "name": "Gryphe: MythoMax L2 13B 8k",
                        "model": "gryphe/mythomax-l2-13b",
                        "word_limit": 6144,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 4096,
                        "metadata": {
                          "editors_link": "https://straico.com/gryphe-mythomax-l2-13b-8k-beta/",
                          "editors_choice_level": -1,
                          "cons": [
                            "May struggle with tasks that require a high level of creativity or original thought",
                            "Limited understanding of human emotions and social cues in social chat settings",
                            "May require additional time to complete assignments due to language processing"
                          ],
                          "pros": [
                            "Excellent language skills and ability to understand complex text",
                            "Strong communication skills, both written and verbal",
                            "Adaptable to different writing styles and formats"
                          ],
                          "applications": [
                            "Writing",
                            "Translation",
                            "Content"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/mythomax-l2-13b-8k.png"
                        }
                      },
                      {
                        "name": "Meta: Llama 3 70B Instruct (nitro)",
                        "model": "meta-llama/llama-3-70b-instruct:nitro",
                        "word_limit": 6144,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 8192,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Specific tuning needed to fully utilize in distinct fields",
                            "Dependence on Input Quality"
                          ],
                          "pros": [
                            "Produces coherent and contextually relevant responses",
                            "Improved Instruction Following",
                            "Enhanced Language Understanding"
                          ],
                          "applications": [
                            "Tutoring",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3-70b-instruct-(nitro).png"
                        }
                      },
                      {
                        "name": "Meta: Llama 3.1 405B Instruct",
                        "model": "meta-llama/llama-3.1-405b-instruct",
                        "word_limit": 98000,
                        "pricing": {
                          "coins": 1.6,
                          "words": 100
                        },
                        "max_output": 32768,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Fails at self referencial tasks"
                          ],
                          "pros": [
                            "Basic mathmatics",
                            "Can solve logic puzzles"
                          ],
                          "applications": [
                            "Social chat",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [
                            "Open source"
                          ],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.1-405b.png"
                        }
                      },
                      {
                        "name": "Meta: Llama 3.1 70B Instruct",
                        "model": "meta-llama/llama-3.1-70b-instruct",
                        "word_limit": 98000,
                        "pricing": {
                          "coins": 0.7,
                          "words": 100
                        },
                        "max_output": 32768,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "May struggle with reasoning",
                            "Specific tuning needed to fully utilize in distinct fields",
                            "Dependence on Input Quality or Instructions"
                          ],
                          "pros": [
                            "High-Quality Outputs",
                            "Improved Instruction Following",
                            "Multilingual capabilities"
                          ],
                          "applications": [
                            "Tutoring",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.1-70b-instruct.png"
                        }
                      },
                      {
                        "name": "Meta: Llama 3.3 70B Instruct",
                        "model": "meta-llama/llama-3.3-70b-instruct",
                        "word_limit": 98304,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 131000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "It lacks multimodal capabilities (e.g., image or audio input/output) that some newer LLMs support"
                          ],
                          "pros": [
                            "The model is optimized for multiple languages, making it highly versatile for global applications",
                            "It outperforms many open-source and closed-source chat models on widely used industry benchmarks, suggesting high-quality outputs"
                          ],
                          "applications": [
                            "Translation",
                            "Writing",
                            "Social chat",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.3-70b-instruct.png"
                        }
                      },
                      {
                        "name": "Meta: Llama 4 Maverick",
                        "model": "meta-llama/llama-4-maverick",
                        "word_limit": 78643,
                        "pricing": {
                          "coins": 0.7,
                          "words": 100
                        },
                        "max_output": 131000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Might struggle with complex coding tasks",
                            "Could have difficulties with logical and mathematical problems"
                          ],
                          "pros": [
                            "Optimized for vision-language tasks",
                            "Excellent for assistant-like behavior",
                            "Excels at translation and language-related tasks"
                          ],
                          "applications": [
                            "Coding",
                            "Roleplay",
                            "Writing",
                            "Translation"
                          ],
                          "capabilities": [],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.3-70b-instruct.png"
                        }
                      },
                      {
                        "name": "Microsoft: Phi 4",
                        "model": "microsoft/phi-4",
                        "word_limit": 12288,
                        "pricing": {
                          "coins": 0.1,
                          "words": 100
                        },
                        "max_output": 16000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited capability outside STEM subjects",
                            "Rigid in following instructions, limiting creativity"
                          ],
                          "pros": [
                            "Excels in technical and QA tasks",
                            "Top-tier STEM/math problem-solving"
                          ],
                          "applications": [
                            "Math and logic",
                            "Tutoring",
                            "Translation"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/phi-4.png"
                        }
                      },
                      {
                        "name": "Mistral: Codestral Mamba",
                        "model": "mistralai/codestral-mamba",
                        "word_limit": 192000,
                        "pricing": {
                          "coins": 0.2,
                          "words": 100
                        },
                        "max_output": 256000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited Creative Problem Solving",
                            "May generate syntactically correct but functionally incorrect code"
                          ],
                          "pros": [
                            "High Coding Proficiency",
                            "Multilingual capabilities",
                            "Advanced Natural Language Understanding"
                          ],
                          "applications": [
                            "Coding"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/codestral-mamba.png"
                        }
                      },
                      {
                        "name": "Mistral: Large",
                        "model": "mistralai/mistral-large",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 3,
                          "words": 100
                        },
                        "max_output": 128000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited Understanding of Abstract Concepts"
                          ],
                          "pros": [
                            "High Capacity for Understanding Context",
                            "Multi-Language Capability",
                            "Enhanced Creativity in Content Generation"
                          ],
                          "applications": [
                            "Writing",
                            "Content",
                            "Translation"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/mistral-large.png"
                        }
                      },
                      {
                        "name": "Mistral: Mixtral 8x7B",
                        "model": "mistralai/mixtral-8x7b-instruct",
                        "word_limit": 24576,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 32768,
                        "metadata": {
                          "editors_link": "https://straico.com/mistral-mixtral-8x7b/",
                          "editors_choice_level": -1,
                          "cons": [
                            "May tend to overfit on niche data without careful handling and tuning",
                            "Lacks true comprehension of context and nuance",
                            "Less effective on complex tasks"
                          ],
                          "pros": [
                            "Produces coherent and contextually relevant text outputs",
                            "Fine-tuning Flexibility",
                            "Strong language understanding capabilities"
                          ],
                          "applications": [
                            "Content"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/mixtral-8x7b-instruct.png"
                        }
                      },
                      {
                        "name": "NVIDIA: Llama 3.1 Nemotron 70B Instruct",
                        "model": "nvidia/llama-3.1-nemotron-70b-instruct",
                        "word_limit": 98304,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 131072,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Could improve in specialized domains for deeper expertise"
                          ],
                          "pros": [
                            "Highly precise responses with excellent formatting capabilities",
                            "Strong performance"
                          ],
                          "applications": [
                            "Coding",
                            "Tutoring",
                            "Math and logic",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.1-nemotron-70b-instruct.png"
                        }
                      },
                      {
                        "name": "NVIDIA: Llama 3.1 Nemotron Ultra 253B v1",
                        "model": "nvidia/llama-3.1-nemotron-ultra-253b-v1:free",
                        "word_limit": 98304,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 131072,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": 3,
                          "cons": [
                            "Limited reasoning power compared to larger models like Ultra.\nSlower response time: May lag in real-time applications.\n\n\n"
                          ],
                          "pros": [
                            "Advanced reasoning capabilities: Excellent for complex logic, scientific analysis, and structured generation.\n",
                            "Strong in specialized tasks: Performs best in research environments and custom AI workflows.\n\n\n"
                          ],
                          "applications": [
                            "Coding",
                            "Tutoring",
                            "Math and logic",
                            "Reasoning"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.1-nemotron-70b-instruct.png"
                        }
                      },
                      {
                        "name": "NVIDIA: Llama 3.3 Nemotron Super 49B v1",
                        "model": "nvidia/llama-3.1-nemotron-70b-instruct",
                        "word_limit": 98304,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 131072,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Limited reasoning power compared to larger models like Ultra.",
                            "Not ideal for complex scientific or abstract tasks: May underperform in research-level challenges"
                          ],
                          "pros": [
                            "Highly efficient for production: Designed for real-time applications with lower computational cost",
                            "Fast response time: Great for virtual assistants, RAG systems, and low-latency use cases.\n\n"
                          ],
                          "applications": [
                            "Coding",
                            "Tutoring",
                            "Math and logic",
                            "Content"
                          ],
                          "capabilities": [],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/llama-3.1-nemotron-70b-instruct.png"
                        }
                      },
                      {
                        "name": "OpenAI: GPT-4.1",
                        "model": "openai/gpt-4.1",
                        "word_limit": 785682,
                        "pricing": {
                          "coins": 3,
                          "words": 100
                        },
                        "max_output": 1047576,
                        "metadata": {
                          "editors_link": "\"",
                          "editors_choice_level": 3,
                          "cons": [
                            "Focusing on text tasks, it dismisses visual content processing or generation support, anchoring itself in text-based capabilities",
                            "",
                            ""
                          ],
                          "pros": [
                            "Exceptional ability to solve complex problems in mathematics, physics, and programming",
                            " It is capable of maintaining a dialogue with contextual continuity, allowing for extended conversations and adapting to the information provided throughout the interaction.",
                            "Web Browsing Compatibility: It is capable of accessing up-to-date information through web browsing"
                          ],
                          "applications": [
                            "Reasoning",
                            "Math and logic",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Image upscale",
                            "Image remix "
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gpt-4.5.png\n"
                        }
                      },
                      {
                        "name": "OpenAI: GPT-4.1 Mini",
                        "model": "openai/gpt-4.1-mini",
                        "word_limit": 785682,
                        "pricing": {
                          "coins": 1,
                          "words": 100
                        },
                        "max_output": 1047576,
                        "metadata": {
                          "editors_link": "\"",
                          "editors_choice_level": -1,
                          "cons": [
                            "can handle massive documents, long conversations, or large codebases without losing track of earlier content. This makes it perfect for complex projects that require deep memory and continuity"
                          ],
                          "pros": [
                            "While it can process up to 1 million tokens, its precision decreases as the context gets longer. For example, accuracy dropped from 84% at 8,000 tokens to 50% when using the full million. So, it fits - but doesn't always grasp everything well"
                          ],
                          "applications": [
                            "Reasoning",
                            "Math and logic",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gpt-4.5.png\n"
                        }
                      },
                      {
                        "name": "OpenAI: GPT-4.1 Nano",
                        "model": "openai/gpt-4.1-nano",
                        "word_limit": 785682,
                        "pricing": {
                          "coins": 0.5,
                          "words": 100
                        },
                        "max_output": 1047576,
                        "metadata": {
                          "editors_link": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gpt-4.5.png\n",
                          "editors_choice_level": -1,
                          "cons": [
                            "Without prompting for modularity, GPT-4.1 tends to generate monolithic code. It's better than 4.0, but still needs strong scaffolding to abstract functions, organize files, or implement design patterns cleanly."
                          ],
                          "pros": [
                            "It builds more coherent internal representations (like AST-like logic) for code. It handles complex dependencies and modular structures better, especially across languages like Python, TypeScript, Rust, etc"
                          ],
                          "applications": [
                            "Reasoning",
                            "Math and logic",
                            "Coding"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation"
                          ],
                          "features": [],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gpt-4.5.png\n"
                        }
                      },
                      {
                        "name": "OpenAI: GPT-4o - (Aug-06)",
                        "model": "openai/gpt-4o-2024-08-06",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 3,
                          "words": 100
                        },
                        "max_output": 16384,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Can struggle with tasks requiring everyday reasoning or understanding of real-world physical interactions",
                            "Struggles with understanding subtle context, humor, or sarcasm"
                          ],
                          "pros": [
                            "Ability for idea generation, storytelling, and crafting engaging narratives",
                            "Multi-model infrastructure",
                            "Real-time roleplaying"
                          ],
                          "applications": [
                            "Coding",
                            "Math and logic",
                            "Reasoning",
                            "Roleplay",
                            "Content"
                          ],
                          "capabilities": [
                            "Browsing",
                            "Image generation",
                            "Video generation"
                          ],
                          "features": [
                            "Image input"
                          ],
                          "other": [],
                          "icon": "https://prompt-rack.s3.us-east-1.amazonaws.com/model-icons/gpt-4o-(aug-06).png"
                        }
                      },
                      {
                        "name": "OpenAI: GPT-4o - (Nov-20)",
                        "model": "openai/gpt-4o-2024-11-20",
                        "word_limit": 96000,
                        "pricing": {
                          "coins": 3.3,
                          "words": 100
                        },
                        "max_output": 16000,
                        "metadata": {
                          "editors_link": "",
                          "editors_choice_level": -1,
                          "cons": [
                            "Performance may degrade with vague or unclear inputs",
                            "While great overall, it might still underperform in niche tasks compared to specialized models"
                          ],
                          "pros": [
                            "Delivers more natural, engaging, and tailored content with improved relevance and readability",
                            "Shows better performance in processing non-English languages with improved understanding of visual content"
                          ],
                          "applications": [
[...]
